::after,
::before,
* {
    box-sizing: border-box;
    text-transform: capitalize;
}

* {
    margin: 0 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.page {
    z-index: -1;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: repeat(8, 1fr);
    background-color: #338eff;
    width: 100%;
    color: #fafeff;
    overflow: hidden;
    height: fit-content;
    grid-template-areas: "nav nav nav nav nav nav nav nav " "res res res res res res res res" "wave wave wave wave wave wave wave wave ";
}

.page nav {
    grid-area: nav;
}

.page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page nav h1 {
    color: #fafeff;
    margin: 5px 20px;
    font-size: 5vh;
    position: relative;
}

.page nav h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    background-color: #fafeff;
}

.page nav .menu-list {
    list-style-type: none;
    display: flex;
}

.page nav .menu-list ul {
    list-style-type: none;
    display: flex;
}


/*  this for responsive the page  */

@media screen and (max-width: 950px) {
    .menu-list {
        position: relative;
        display: block;
        margin: 0 20px;
        width: 50px;
        height: 50px;
        background-image: url("icons/menu.png");
        background-size: 100% 100%;
    }
    .menu-list:hover>ul {
        grid-template-columns: 50px;
        display: grid !important;
        position: absolute;
        height: fit-content;
        left: 60%;
        transform: translate(-50%, 0);
        width: 100px;
        bottom: -100px;
        padding: 0 0;
        z-index: 1;
    }
    .menu-list ul li a {
        display: block !important;
        width: 100px !important;
        margin: 0 0 !important;
        padding: 5px !important;
        border: none !important;
        background-color: #fafeff !important;
        color: #28282B !important;
        border-radius: 0 !important;
    }
    .menu-list ul li .regs {
        background-color: #338eff !important;
        color: #fafeff !important;
        border: 1px solid #fafeff !important;
    }
    .menu-list ul li a:hover {
        background-color: #28282B !important;
        color: #fafeff !important;
        border: 1px solid #fafeff !important;
    }
    .menu-list ul li .regs::before {
        display: none;
    }
}

@media screen and (max-width:1020px) {
    .page .respon {
        grid-template-rows: minmax(200px, 1fr) minmax(400px, 1fr) !important;
    }
}

@media screen and (max-width:500px) {
    .page .respon {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)) !important;
    }
}

.page nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0 5px 0;
    color: #fafeff;
    font-size: 3vh;
    padding: 8px 15px;
    transition: 0.25s;
    font-weight: bold;
}

.page nav ul li:last-child {
    margin-left: 20px;
}

.page nav ul li a:hover {
    color: #338eff;
    background-color: hsl(192, 100%, 99%, 90%);
}

.page nav ul li .active {
    position: relative;
    margin: 10px 0 5px 20px;
    background-color: #fafeff;
    color: #338eff;
    border-radius: 15px;
    border: 1px solid #338eff;
}

.page nav ul li .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -10px;
    background-color: #fafeff;
}

.page nav ul li .active:hover {
    background-color: #338eff;
    color: #fafeff;
    border: 1px solid #fafeff;
}

.page .respon {
    grid-area: res;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
    grid-template-rows: repeat(auto-fill, minmax(450px, 1fr));
    row-gap: 20px;
}

.page .respon .hero-img {
    position: relative;
}

.page .respon .hero-img .blob {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page .respon .hero-img .img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

.page .respon .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page .respon .content .description {
    margin: 0 20px;
}

.page .respon .content .description h3 {
    font-size: 5vh;
}

.page .respon .content .description p {
    font-size: 2.8vh;
    line-height: 1.5em;
}

.page .respon .content .description .regs {
    position: relative;
    font-size: 2.5vh;
    display: inline-block;
    margin: 0 10px;
    background-color: #fafeff;
    color: #338eff;
    border-radius: 15px;
    padding: 10px 15px;
    transition: 0.25s;
}

.page .respon .content .description .regs:hover::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-regs);
    display: inline-block;
    bottom: -59px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 150px;
    height: 40px;
    padding: 5px;
    background-color: #28282B;
    color: #fafeff;
    border-radius: 15px;
    font-weight: bold;
}

.page .respon .content .description .regs:hover::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 20px;
    transform: translate(-50%, 0);
    border: 10px solid #28282B;
    border-color: transparent transparent #28282B transparent
}

.page .respon .content .description .regs:hover {
    background-color: #338eff;
    color: #fafeff;
    border: 1px solid #fafeff;
}

.page .respon .content .description input {
    padding: 5px 10px;
    outline: none;
    transition: 0.5s;
    height: 30px;
}

.page .respon .content .description .search {
    display: inline-block;
    padding: 4.5px 10px;
    background-color: #fafeff;
    color: #338eff;
    outline: none;
    border: none;
    height: 28px;
    outline: none;
    border: none;
}

.wave {
    position: relative;
    grid-area: wave;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.wave-2 {
    position: relative;
    grid-area: wave;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100px;
}

.body-title {
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    position: relative;
    font-size: 4.5vh;
}

.body-title::before {
    color: #28282B;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #28282B;
}

.body-title::after {
    color: #28282B;
    position: absolute;
    content: "";
    bottom: -20px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 5px;
    background-color: #28282B;
}

.page-2 {
    width: 100%;
    height: fit-content;
}

.page-2 .boxs-aside {
    direction: ltr;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: space-evenly;
    align-items: center;
    column-gap: 40px;
}

.page-2 .boxs-aside .box {
    background-color: #338eff;
    border: 2px solid #338eff;
    position: relative;
    counter-increment: years-count;
    transition: 0.25s;
    margin: 20px 5px;
}

.page-2 .boxs-aside .box:hover::before {
    background-color: #28282B;
    color: #fafeff;
}

.page-2 .boxs-aside .box::before {
    z-index: 1;
    transition: 0.5s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: counter(years-count);
    width: 25px;
    height: 25px;
    left: 50%;
    margin-left: -12.5px;
    top: -15.5px;
    background-color: #fafeff;
    color: #28282B;
    font-weight: bold;
}

.page-2 .boxs-aside .box .box-title {
    position: relative;
    color: #fafeff;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    height: 50px;
    transition: 0.25s;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #338eff;
}

.page-2 .boxs-aside .box .box-title:hover {
    background-color: #fafeff;
    color: #28282B;
}

.page-2 .boxs-aside .box .box-title::before {
    display: flex;
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
    left: 5px;
    background-color: #fafeff;
    transition: 0.25s;
}

.page-2 .boxs-aside .box .box-title:hover::before {
    background-color: #338eff;
}

.page-2 .boxs-aside .box .box-title:hover::after {
    background-color: #338eff;
}

.page-2 .boxs-aside .box .box-title::after {
    display: flex;
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
    background-color: #fafeff;
    transition: 0.25s;
}

.page-2 .boxs-aside .box .odd {
    background-color: #fafeff;
    color: #338eff;
}

.page-2 .boxs-aside .box .odd:hover {
    background-color: #338eff;
    color: #fafeff;
}

.page-2 .boxs-aside .box .odd:hover::before {
    background-color: #fafeff;
}

.page-2 .boxs-aside .box .odd:hover::after {
    background-color: #fafeff;
}

.page-2 .boxs-aside .box .odd::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
    left: 5px;
    background-color: #338eff;
    transition: 0.25s;
}

.page-2 .boxs-aside .box .odd::after {
    transition: 0.25s;
    position: absolute;
    content: "";
    width: 5px;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
    background-color: #338eff;
}

.page-2 .boxs-aside .box .box-img {
    width: 100%;
    height: 200px;
    background-image: url("page-2/3794.jpg");
    background-size: 100% 100%;
    transition: 0.5s 1s ease-in-out;
    cursor: pointer;
}

.page-2 .boxs-aside .box .two {
    background-image: url("page-2/5251.jpg");
}

.page-2 .boxs-aside .box .three {
    background-image: url("page-2/5514.jpg");
}

.page-2 .boxs-aside .box .four {
    background-image: url("page-2/5853.jpg");
}

.page-2 .boxs-aside .box .box-img .box-text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    background-color: #28282B;
    opacity: 0.8;
    transition: 0.5s 0 ease-in;
    visibility: hidden;
}

.page-2 .boxs-aside .box .box-img .box-text i {
    position: absolute;
    color: #fafeff;
    transition: 0.5s 1s ease-in;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
}

.page-2 .boxs-aside .box .box-img:hover .box-text {
    visibility: visible;
}

.page-2 .boxs-aside .box .box-img:hover .box-text i {
    visibility: visible;
    margin-right: 350px;
}

.page-2 aside {
    grid-row-start: 1;
    grid-row-end: span 4;
    direction: rtl;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: hsl(0, 0%, 98%);
    overflow-y: scroll;
    border-right: 2px solid #338eff;
    margin: 40px 5px 5px 5px;
}

.page-2 aside h4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #338eff;
    color: #fafeff;
    margin: 0 0;
    height: 15%;
}

.page-2 aside h4 i {
    margin: 0 5px;
}

.page-2 aside .ul-box {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #338eff;
}

.page-2 aside .ul-box .drop-down-title {
    list-style-type: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.page-2 aside .ul-box a {
    position: relative;
    display: flex;
    align-items: center;
    color: #28282B;
    height: 80%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.page-2 aside .ul-box .files::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    bottom: 0;
    left: 10%;
    background-color: #338eff;
}

.page-2 aside .ul-box .files:hover {
    background-color: #28282B;
    color: #fafeff;
}

.page-2 aside .ul-box .drop-down {
    margin: 0 0;
    position: absolute;
    left: 30%;
    transform: translate(-30%, 0);
    bottom: 0;
    padding: 0;
    width: 35%;
    display: none;
    height: 100%;
}

.page-2 aside .ul-box .drop-down li {
    list-style-type: none;
    width: 100%;
    padding: 0 0;
    height: 25%;
    background-color: #28282B;
    color: #fafeff;
}

.page-2 aside .ul-box .drop-down li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fafeff;
    width: 100%;
    color: #fafeff;
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    font-size: 2vh;
}

.page-2 aside .ul-box .drop-down li a:hover {
    background-color: #fafeff;
    color: #28282B;
}

.page-2 aside .ul-box .drop-down li a::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 20px;
    left: -10px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #338eff;
    content: attr(data-years);
    font-size: 1.9vh;
}

.page-2 aside .drop-down-title:hover .drop-down {
    display: block;
}

.page-2 aside a i {
    margin: 0 5px;
}

.page-2 aside .ul-box a .fa-sort-down {
    display: flex;
    transform: rotate(90deg);
    margin: 0 1px;
    font-size: 3vh;
}

.page-2 aside::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

.page-2 aside::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

.page-2 aside::-webkit-scrollbar-thumb {
    background-color: #338eff;
    border-top: 1px solid #fafeff;
    border-bottom: 0.1px solid #fafeff;
}

.page-2 aside::-webkit-scrollbar-button {
    position: relative;
    color: #fafeff;
    width: 15px;
    height: 20px;
    background-color: #338eff;
}

.page-3 {
    width: 90%;
    height: fit-content;
    margin-top: 20px;
    background-color: hsl(0, 0%, 93%, 40%);
    margin: auto;
}

.page-3 h3 {
    display: block;
    width: fit-content;
    padding-top: 20px;
    margin: 40px auto;
    font-size: 4vh;
    position: relative;
    color: #28282B;
}

.page-3 h3 i {
    margin: 0 5px;
}

.page-3 h3::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #28282B;
    bottom: -10px;
    left: 50%;
    margin-left: -50%;
}

.page-3 h3::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background-color: #28282B;
    bottom: -15px;
    left: 50%;
    margin-left: -25%;
}

.page-3 .boxs {
    display: grid;
    width: 90%;
    height: 80%;
    margin: auto;
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-around;
    align-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.page-3 .boxs .box {
    position: relative;
    border-bottom: 3px solid #338eff;
    border-radius: 15px;
}

.page-3 .boxs .box img {
    width: 50%;
    height: 55%;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-3 .boxs .box .box-content {
    width: 100%;
    height: 50%;
}

.page-3 .boxs .box .box-content h4 {
    position: relative;
    width: fit-content;
    padding: 0 0;
    margin: 15px auto 5px auto;
    color: #080808;
    font-size: 4vh;
    font-weight: bolder;
}

.page-3 .boxs .box .box-content h4 i {
    margin: 0 5px;
}

.page-3 .boxs .box .box-content h4::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    bottom: -10px;
    left: 50%;
    margin-left: -25%;
    background-color: #338eff;
}

.page-3 .boxs .box .box-content p {
    text-align: center;
    margin: 20px 0 0 0;
    padding: 5px;
    font-size: 2.5vh;
    color: #464647;
}

.page-4 {
    width: 100%;
    height: fit-content;
    margin: 40px auto;
    padding: 10px 0;
}

.page-4 h3 {
    position: relative;
    width: fit-content;
    margin: 20px auto;
    color: #28282B;
    font-size: 5vh;
}

.page-4 h3::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -5px;
    background-color: #28282B;
}

.page-4 h3::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    left: 50%;
    margin-left: -25%;
    bottom: -10px;
    background-color: #28282B;
}

.page-4 .cards-respo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.page-4 .cards-respo .cards {
    width: 70%;
    min-width: 372px;
    height: 400px;
    overflow-y: auto;
}

.page-4 .cards-respo .cards .id-card {
    width: calc(100% - 5px);
    height: 30%;
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 5px 40px;
}

.page-4 .cards-respo .cards .id-card:last-child {
    margin-bottom: 0;
}

.page-4 .cards-respo .cards .id-card .avater {
    position: relative;
    width: 10%;
    min-width: 60px;
    height: 60%;
    min-height: 60px;
    background-image: url("icons/man.png");
    background-size: 100% 100%;
    color: #28282B;
}

.page-4 .cards-respo .cards .id-card .avater::before {
    position: absolute;
    content: attr(data-name);
    font-size: 2.5vh;
    width: 110%;
    height: 20%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10%;
    bottom: -35px;
    color: #fafeff;
    background-color: #28282B;
    border-radius: 15px;
}

.page-4 .cards-respo .cards .id-card .preview {
    position: relative;
    width: calc( 90% - 40px);
    min-width: 300px;
    background-color: #338eff;
    color: #fafeff;
    font-weight: bold;
    padding: 1px 10px 10px 10px;
}

.page-4 .cards-respo .cards .id-card .preview::before {
    width: 5px;
    height: 100%;
    position: absolute;
    content: "";
    background-color: #28282B;
    right: -5px;
    top: 0;
}

.page-4 .cards-respo .cards .id-card .preview::after {
    position: absolute;
    content: "";
    border: 20px solid #338eff;
    border-color: transparent transparent transparent #28282B;
    top: 50%;
    margin-top: -20px;
    right: -40px;
}

.page-4 .cards-respo .cards .id-card .preview .like-dislike {
    margin-right: 10px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-4 .cards-respo .cards .id-card .preview .like-dislike i {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.page-4 .cards-respo .cards .id-card .preview .like-dislike i:hover {
    color: #28282B;
}

.page-4 .cards-respo .cards::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.page-4 .cards-respo .cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

.page-4 .cards-respo .cards::-webkit-scrollbar-thumb {
    background-color: #28282B;
    border-top: 1px solid #fafeff;
    border-bottom: 0.1px solid #fafeff;
}

.page-4 .cards-respo .cards::-webkit-scrollbar-button {
    position: relative;
    color: #fafeff;
    width: 10px;
    height: 20px;
    background-color: #28282B;
}

.page-4 .cards-respo .interaction {
    width: 30%;
    color: #28282B;
    margin: 10px auto;
    min-width: 150px;
    border: 1px solid #ccc;
    height: 300px;
}

.page-4 .cards-respo .interaction h5 {
    width: fit-content;
    margin: 10px auto 20px auto;
    color: #28282B;
    font-size: 25px;
}

.page-4 .cards-respo .interaction form {
    width: 95%;
    margin: auto;
    padding: 10px;
}

.page-4 .cards-respo .interaction form #user-name {
    margin: 10px auto;
    display: block;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    background-color: rgb(226, 229, 255);
    border: 1px solid #ccc;
}

.page-4 .cards-respo .interaction form textarea {
    background-color: rgb(226, 229, 255);
    margin: 10px auto;
    display: block;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #ccc;
}

.page-4 .cards-respo .interaction form #user-name:focus {
    border-bottom: 2px solid #338eff;
}

.page-4 .cards-respo .interaction form textarea:focus {
    border-bottom: 2px solid #338eff;
}

.page-4 .cards-respo .interaction form .submit {
    background-color: #338eff;
    color: #fafeff;
    height: 30px;
    width: 60px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:660px) {
    .cards {
        width: 90% !important;
    }
    .page-4 .cards-respo .interaction {
        width: 50% !important;
        min-width: 320px !important;
    }
}

footer {
    direction: ltr;
    background-color: #28282B;
    color: #fafeff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 0;
    bottom: 0;
    left: 0;
    height: 50px;
}

footer p {
    margin: 0 20px;
}

footer p i {
    margin: 0 2px;
}

footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    width: 300px;
}

footer ul li a {
    display: inline-block;
    font-size: 30px;
    width: 50px;
    color: #fafeff;
    position: relative;
    transition: 0.2s;
}

footer ul li .fa-github:hover {
    color: #171515;
}

footer ul li .fa-facebook-square:hover {
    color: #3b5998;
}

footer ul li .fa-whatsapp-square:hover {
    color: #25D366;
}

.scroll {
    position: fixed;
    right: 3%;
    bottom: 10%;
    width: 60px;
}

.scroll img {
    width: 60px;
    height: 50px;
    cursor: pointer;
}